@import '../rest';

.postbox{
  display: inline-block;
  height: 100%;
  width: 100%;

  .cover{
    @include size(300px, 100%);

    margin-left: 450px;
    margin-right: 450px;
    background-size: cover;
    background-position: center center;

    @include flex_center;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
      @include size(330px, 110%);
      .infos{
        transform: translateX(-220px) translateY(- 10px) ;
        
      }
    } 
    
  }
  .infos{
    color: white;
    transform: translateX(-200px);
    box-shadow: 0px 0px 30px rgba(white, 0.3) ;
    // box-shadow: 0px 0px 30px rgba(0, 0, 0, .3);  
    transition: .5s;

    *{
      margin: 0;
    }
    h1{
      margin-bottom: 10px;
      font-size: 50px;
      font-weight: 400;
    }
    h5{
      background-color: white;
      color: black;
      padding: 5px 15px;
      font-size: 20px;
      font-weight: 300px;
    }
  }
}